body {
    font-size: 1.3em;
    width: 80%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

table td.headword {
    font-weight: bold;
    vertical-align: top;
    text-align: center;
}

table td p {
    margin: 2px;
}

/* light gray line */
hr {
    border: 0;
    height: 1px;
    background: #ccc;
}

#status {
    color: darkgreen;
}

input[type=text] {
    font-size: 20px;
    padding: 5px;
}

h1 span.small {
    font-size: 0.5em;
}

/* lighlited text */
.highlight {
    background-color: yellow;
}
